html {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  @include flux-body-font;
  background-color: $white;
  color: $font-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app { // sass-lint:disable-line no-ids
  height: 100%;
}
