html {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  @include flux-body-font();
  background-color: $white;
  color: $fontColor;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}