@audioCtrlBg: #ffffff;
@audioTrackColor: darken(@white, 20%);
@audioCtrlText: #e8e8e8;
@playBtn: #616469;

/*Audio Player Styling*/
.drzAudio {
  .row;
  background-color: @white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 0;
  padding: 20px;
  position: relative;
}

.drzAudio-titleContainer {
  background: fade(@black, 3%);
  font-size: 18pt;
  font-weight: 800;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.drzAudio-src {
  display: block;
  height: 100%;
  width: 100%;
}

.drzAudio-controlBar {
  .drzClearFix;
  bottom: 0;
  min-height: 1px;
  width: 100%;
  z-index: 2;
}

.drzAudio-controls {
  .drzClearFix;
  display: flex;
}

.drzAudio-playBtnContainer {
  .drzClearFix;
  float: left;
  width: 10%;

  @media @mobile {
    width: 20%;
  }
}

.drzAudio-midContainer {
  width: 100%;
}

.drzAudio-progressBarContainer {
  .drzClearFix;
  .flex-center-all;
  float: left;
  overflow: hidden;
  width: 90%;

  @media @mobile {
    width: 60%;
  }
}

.drzAudio-controlBtn {
  border: 0;
  display: inline-block;
  float: left;
  padding: 5px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &:after {
    font-family: 'drzzle';
  }
}

.drzAudio-playBtn {
  .drzAudio-controlBtn;
  background-color: @playBtn;
  border-radius: 50%;
  color: fade(@white, 80%);
  float: left;
  font-size: 14pt;
  height: 50px;
  width: 50px;

  @media @tablet {
    font-size: 12pt;
    height: 40px;
    width: 40px;
  }

  @media @mobile {
    font-size: 11pt;
    height: 35px;
    width: 35px;
  }

  &:after {
    content: '\e861';
  }

  &:focus {
    outline: 0;
  }

  &:active {
    outline: 0;
  }
}

.drzAudio-pauseBtn {

  &:after {
    content: '\e868';
  }
}

.drzAudio-replayBtn {

  &:after {
    content: '\e875';
  }
}

.drzAudio-muteBtn {
  .drzAudio-controlBtn;
  .col-1;
  border-right: 1px solid darken(@white, 5%);
  float: right;

  @media @mobile {
    display: none;
  }

  &:after {
    content: '\e86a';
  }
}

.drzAudio-muteOff {

  &:after {
    content: '\e86b';
  }
}

.drzAudio-progressBar {
   background-color: fade(@black, 15%);
   border-radius: 10px;
   color: @white;
   height: 10px;
   width: 100%;

   &:hover {
     cursor: pointer;
   }
}

.drzAudio-progress {
   background-color: @baseColor;
   border-radius: 10px;
   display: block;
   height: 10px;
   transition: all 0.1s ease;
   width: 0;
}

.drzAudio-timeContainer {
  border: 0;
  color: darken(@audioCtrlText, 50%);
  display: inline-block;
  font-size: 10pt;
  font-weight: 600;
  height: 100%;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.drzAudio-currentTime {
  float: left;
}

.drzAudio-totalTime {
  float: right;
}

.drzAudio-volumeContainer {
  .flex-center-all;
  position: relative;
  width: 10%;

  @media @mobile {
    width: 20%;
  }
}

.drzAudio-volumeBtn {
  background-color: transparent;
  border: 0;
  color: @playBtn;
  display: inline-block;
  float: left;
  font-size: 15pt;
  padding: 5px;
  text-align: center;

  &:after {
    content: '\e88a';
    font-family: 'drzzle';
  }

  &:hover {
    cursor: pointer;
  }
}

.drzAudio-volumeSliderContainer {
  background-color: @white;
  border: 1px solid #e6e6e6;
  display: none;
  padding: 10px;
  position: absolute;
  right: 0;
  top: -20px;
  width: 200px;
}

.drzAudio-volTrack {
  cursor: pointer;
  height: 4px;
}

.drzAudio-volThumb {
  background-color: @playBtn;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  height: 14px;
  margin-top: -5px;
  width: 10px;
}

.drzAudio-volSlider {
  -webkit-appearance: none;
  display: block;
  margin: 3px auto;
  width: 75%;

  @-moz-document url-prefix() {
    margin: 0 auto;
  }

  &:focus {
    outline: 0;
  }

  &::-webkit-slider-runnable-track {
    .drzAudio-volTrack;
    background-color: @audioTrackColor;
  }

  &::-webkit-slider-thumb {
    .drzAudio-volThumb;
    -webkit-appearance: none;
    margin-top: -5px;
  }

  &:focus::-webkit-slider-runnable-track {
    background-color: @audioTrackColor;
  }

  &::-moz-range-track {
    .drzAudio-volTrack;
    background-color: @audioTrackColor;
  }

  &::-moz-range-thumb {
    .drzAudio-volThumb;
  }

  &::-ms-track {
    .drzAudio-volTrack;
    background-color: transparent;
    border-color: transparent;
    border-width: 10px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background-color: @audioTrackColor;
  }

  &::-ms-fill-upper {
    background-color: @audioTrackColor;
  }

  &::-ms-thumb {
    .drzAudio-volThumb;
  }

  &:focus::-ms-fill-lower {
    background-color: @audioTrackColor;
  }

  &:focus::-ms-fill-upper {
    background-color: @audioTrackColor;
  }
}

.drzAudio-loader {
  display: none;
  float: left;
  height: 50px;
  stroke: #616469;
  width: 50px;

  @media @mobile {
    height: 35px;
    width: 35px;
  }
}
