@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
}

@mixin clear-fix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }

  &::before {
    clear: both;
    content: '';
    display: table;
  }
}

