// colors
$black: #000;
$white: #fff;
$off-white: #f7f7f7;
$gray-light: #e8e8e8;
$font-color: #3a4d50;
$picazzo-base: #41e0c4;
$picazzo-base-text: darken($picazzo-base, 20%);
$subnav-bg: lighten($picazzo-base, 35%);
