.drzProduct-feed {
  display: block;
}

.drzProduct-feed-header {
  font-size: 21pt;
  margin-bottom: 20px;
  text-align: center;
}

.drzProduct-feed-cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;

  @media @mobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.drzProduct-feed-card {
  border-color: #dedede;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  text-decoration: none;
}

.drzProduct-feed-cardImageWrap {
  display: block;
}

.drzProduct-feed-cardImage {
  width: 100%;
}

.drzProduct-feed-cardInfo {
  color: fade(@black, 60%);
  padding: 10px;
}

.drzProduct-feed-name {
  display: block;
  font-size: 14pt;
}

.drzProduct-feed-price {
  display: block;
}

.drzProduct-feed-empty {
  display: block;
  font-style: italic;
  text-align: center;
}

.drzProduct-feed-buyBtn {
  background-color: transparent;
  border: 0;
  color: fade(@black, 60%);
  float: right;
  font-size: 13pt;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &:after {
    content: '\f217';
    font-family: 'drzzle';
  }
}
