@charset 'UTF-8';
// fallback 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700'
@import url('fonts/source-sans-pro/source-sans-pro.css');
@import url('../../icons/css/rswebfonts.css');

// sass-lint:disable-all
@mixin flux-font-smooth {
  -moz-osx-font-smoothing: grayscale; // No lint reported
  -webkit-font-smoothing: antialiased; // No lint reported
}
// sass-lint:enable-all

@mixin flux-body-font {
  @include flux-font-smooth;
  font-family: 'Source Sans Pro', sans-serif;
}
