@font-face {
  font-family: 'drzzle';
  src: url('../font/drzzle.eot?63382637');
  src: url('../font/drzzle.eot?63382637#iefix') format('embedded-opentype'),
       url('../font/drzzle.woff2?63382637') format('woff2'),
       url('../font/drzzle.woff?63382637') format('woff'),
       url('../font/drzzle.ttf?63382637') format('truetype'),
       url('../font/drzzle.svg?63382637#drzzle') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'drzzle';
    src: url('../font/drzzle.svg?63382637#drzzle') format('svg');
  }
}
*/
 
 [class^="drzicon-"]:before, [class*=" drzicon-"]:before {
  font-family: "drzzle";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.drzicon-add-section-dotted:before { content: '\e800'; } /* '' */
.drzicon-add-template-full:before { content: '\e801'; } /* '' */
.drzicon-add-template:before { content: '\e802'; } /* '' */
.drzicon-arrow-down:before { content: '\e803'; } /* '' */
.drzicon-arrow-up:before { content: '\e804'; } /* '' */
.drzicon-card:before { content: '\e805'; } /* '' */
.drzicon-carousel:before { content: '\e806'; } /* '' */
.drzicon-check-drop:before { content: '\e807'; } /* '' */
.drzicon-chevron-left:before { content: '\e808'; } /* '' */
.drzicon-chevron-right:before { content: '\e809'; } /* '' */
.drzicon-content-block:before { content: '\e80a'; } /* '' */
.drzicon-countdown:before { content: '\e80b'; } /* '' */
.drzicon-droplet-question:before { content: '\e80c'; } /* '' */
.drzicon-droplet:before { content: '\e80d'; } /* '' */
.drzicon-droplets:before { content: '\e80e'; } /* '' */
.drzicon-drz-add-pages:before { content: '\e80f'; } /* '' */
.drzicon-drz-add-section:before { content: '\e810'; } /* '' */
.drzicon-drz-preview-page-full:before { content: '\e811'; } /* '' */
.drzicon-drz-preview-page:before { content: '\e812'; } /* '' */
.drzicon-drz-search-pages:before { content: '\e813'; } /* '' */
.drzicon-drz-times:before { content: '\e814'; } /* '' */
.drzicon-ds-2column-full:before { content: '\e815'; } /* '' */
.drzicon-ds-3column-full:before { content: '\e816'; } /* '' */
.drzicon-ds-accordion-full:before { content: '\e817'; } /* '' */
.drzicon-minus:before { content: '\e818'; } /* '' */
.drzicon-ds-button:before { content: '\e819'; } /* '' */
.drzicon-ds-church:before { content: '\e81a'; } /* '' */
.drzicon-ds-form-full:before { content: '\e81b'; } /* '' */
.drzicon-ds-imggallery-full:before { content: '\e81c'; } /* '' */
.drzicon-ds-imgslider-full:before { content: '\e81d'; } /* '' */
.drzicon-ds-menu-full:before { content: '\e81e'; } /* '' */
.drzicon-ds-pray:before { content: '\e81f'; } /* '' */
.drzicon-ds-tabs-full:before { content: '\e820'; } /* '' */
.drzicon-ds-text-full:before { content: '\e821'; } /* '' */
.drzicon-floppy-full:before { content: '\e822'; } /* '' */
.drzicon-floppy:before { content: '\e823'; } /* '' */
.drzicon-gear:before { content: '\e824'; } /* '' */
.drzicon-group:before { content: '\e825'; } /* '' */
.drzicon-header:before { content: '\e826'; } /* '' */
.drzicon-logo:before { content: '\e827'; } /* '' */
.drzicon-map-pin:before { content: '\e828'; } /* '' */
.drzicon-paint-bucket:before { content: '\e829'; } /* '' */
.drzicon-paint-pallete-lrg:before { content: '\e82a'; } /* '' */
.drzicon-puddle:before { content: '\e82b'; } /* '' */
.drzicon-radio:before { content: '\e82c'; } /* '' */
.drzicon-table-column:before { content: '\e82d'; } /* '' */
.drzicon-table-row:before { content: '\e82e'; } /* '' */
.drzicon-table:before { content: '\e82f'; } /* '' */
.drzicon-user-full:before { content: '\e830'; } /* '' */
.drzicon-video-player:before { content: '\e831'; } /* '' */
.drzicon-building:before { content: '\e832'; } /* '' */
.drzicon-calendar:before { content: '\e833'; } /* '' */
.drzicon-cross:before { content: '\e834'; } /* '' */
.drzicon-ds-fish:before { content: '\e835'; } /* '' */
.drzicon-folder:before { content: '\e836'; } /* '' */
.drzicon-periscope:before { content: '\e837'; } /* '' */
.drzicon-quote:before { content: '\e838'; } /* '' */
.drzicon-form:before { content: '\e839'; } /* '' */
.drzicon-template-footer:before { content: '\e83a'; } /* '' */
.drzicon-template-header:before { content: '\e83b'; } /* '' */
.drzicon-webpage:before { content: '\e83c'; } /* '' */
.drzicon-paint-pallete-small:before { content: '\e83d'; } /* '' */
.drzicon-microphone:before { content: '\e83e'; } /* '' */
.drzicon-list:before { content: '\e83f'; } /* '' */
.drzicon-javascript:before { content: '\e840'; } /* '' */
.drzicon-plus-circled:before { content: '\e841'; } /* '' */
.drzicon-plus:before { content: '\e842'; } /* '' */
.drzicon-cancel:before { content: '\e843'; } /* '' */
.drzicon-wide-card:before { content: '\e844'; } /* '' */
.drzicon-step-card:before { content: '\e845'; } /* '' */
.drzicon-general-card:before { content: '\e846'; } /* '' */
.drzicon-event-card:before { content: '\e847'; } /* '' */
.drzicon-divider:before { content: '\e848'; } /* '' */
.drzicon-code-brackets:before { content: '\e849'; } /* '' */
.drzicon-cloud-search:before { content: '\e84a'; } /* '' */
.drzicon-image:before { content: '\e84b'; } /* '' */
.drzicon-asterisk:before { content: '\e84c'; } /* '' */
.drzicon-upload:before { content: '\e84d'; } /* '' */
.drzicon-globe:before { content: '\e84e'; } /* '' */
.drzicon-help-circled:before { content: '\e84f'; } /* '' */
.drzicon-pencil:before { content: '\e850'; } /* '' */
.drzicon-font:before { content: '\e851'; } /* '' */
.drzicon-check:before { content: '\e852'; } /* '' */
.drzicon-phone:before { content: '\e853'; } /* '' */
.drzicon-eye:before { content: '\e854'; } /* '' */
.drzicon-eye-off:before { content: '\e855'; } /* '' */
.drzicon-note-beamed:before { content: '\e856'; } /* '' */
.drzicon-trash-empty:before { content: '\e857'; } /* '' */
.drzicon-no-image:before { content: '\e858'; } /* '' */
.drzicon-search:before { content: '\e859'; } /* '' */
.drzicon-editor:before { content: '\e85a'; } /* '' */
.drzicon-editor-line:before { content: '\e85b'; } /* '' */
.drzicon-admin-panel:before { content: '\e85c'; } /* '' */
.drzicon-edit-paper:before { content: '\e85d'; } /* '' */
.drzicon-block:before { content: '\e85e'; } /* '' */
.drzicon-lock:before { content: '\e85f'; } /* '' */
.drzicon-up-big:before { content: '\e860'; } /* '' */
.drzicon-play:before { content: '\e861'; } /* '' */
.drzicon-attention-circled:before { content: '\e862'; } /* '' */
.drzicon-down-dir:before { content: '\e863'; } /* '' */
.drzicon-left-dir:before { content: '\e864'; } /* '' */
.drzicon-right-dir:before { content: '\e865'; } /* '' */
.drzicon-left-open:before { content: '\e866'; } /* '' */
.drzicon-right-open:before { content: '\e867'; } /* '' */
.drzicon-pause:before { content: '\e868'; } /* '' */
.drzicon-resize-full:before { content: '\e869'; } /* '' */
.drzicon-volume-off:before { content: '\e86a'; } /* '' */
.drzicon-volume-up:before { content: '\e86b'; } /* '' */
.drzicon-logout:before { content: '\e86c'; } /* '' */
.drzicon-cog:before { content: '\e86d'; } /* '' */
.drzicon-edit:before { content: '\e86e'; } /* '' */
.drzicon-info-circled:before { content: '\e86f'; } /* '' */
.drzicon-basket:before { content: '\e870'; } /* '' */
.drzicon-bold:before { content: '\e871'; } /* '' */
.drzicon-italic:before { content: '\e872'; } /* '' */
.drzicon-text-height:before { content: '\e873'; } /* '' */
.drzicon-ccw:before { content: '\e874'; } /* '' */
.drzicon-cw:before { content: '\e875'; } /* '' */
.drzicon-link:before { content: '\e876'; } /* '' */
.drzicon-align-center:before { content: '\e877'; } /* '' */
.drzicon-align-left:before { content: '\e878'; } /* '' */
.drzicon-align-right:before { content: '\e879'; } /* '' */
.drzicon-indent-right:before { content: '\e87a'; } /* '' */
.drzicon-picture:before { content: '\e87b'; } /* '' */
.drzicon-resize-vertical:before { content: '\e87c'; } /* '' */
.drzicon-logout-1:before { content: '\e87d'; } /* '' */
.drzicon-comment:before { content: '\e87e'; } /* '' */
.drzicon-download:before { content: '\e87f'; } /* '' */
.drzicon-move:before { content: '\f047'; } /* '' */
.drzicon-link-ext:before { content: '\f08e'; } /* '' */
.drzicon-github-circled:before { content: '\f09b'; } /* '' */
.drzicon-docs:before { content: '\f0c5'; } /* '' */
.drzicon-menu:before { content: '\f0c9'; } /* '' */
.drzicon-list-bullet:before { content: '\f0ca'; } /* '' */
.drzicon-list-numbered:before { content: '\f0cb'; } /* '' */
.drzicon-strike:before { content: '\f0cc'; } /* '' */
.drzicon-underline:before { content: '\f0cd'; } /* '' */
.drzicon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.drzicon-gplus-squared:before { content: '\f0d4'; } /* '' */
.drzicon-sort:before { content: '\f0dc'; } /* '' */
.drzicon-mail-alt:before { content: '\f0e0'; } /* '' */
.drzicon-upload-cloud:before { content: '\f0ee'; } /* '' */
.drzicon-plus-squared:before { content: '\f0fe'; } /* '' */
.drzicon-angle-left:before { content: '\f104'; } /* '' */
.drzicon-angle-right:before { content: '\f105'; } /* '' */
.drzicon-desktop:before { content: '\f108'; } /* '' */
.drzicon-tablet:before { content: '\f10a'; } /* '' */
.drzicon-mobile:before { content: '\f10b'; } /* '' */
.drzicon-play-circled:before { content: '\f144'; } /* '' */
.drzicon-minus-squared:before { content: '\f146'; } /* '' */
.drzicon-pencil-squared:before { content: '\f14b'; } /* '' */
.drzicon-expand:before { content: '\f150'; } /* '' */
.drzicon-youtube-squared:before { content: '\f166'; } /* '' */
.drzicon-instagram:before { content: '\f16d'; } /* '' */
.drzicon-tumblr-squared:before { content: '\f174'; } /* '' */
.drzicon-down:before { content: '\f175'; } /* '' */
.drzicon-up:before { content: '\f176'; } /* '' */
.drzicon-left:before { content: '\f177'; } /* '' */
.drzicon-right:before { content: '\f178'; } /* '' */
.drzicon-dot-circled:before { content: '\f192'; } /* '' */
.drzicon-slack:before { content: '\f198'; } /* '' */
.drzicon-reddit-squared:before { content: '\f1a2'; } /* '' */
.drzicon-recycle:before { content: '\f1b8'; } /* '' */
.drzicon-git:before { content: '\f1d3'; } /* '' */
.drzicon-paragraph:before { content: '\f1dd'; } /* '' */
.drzicon-trash:before { content: '\f1f8'; } /* '' */
.drzicon-copyright:before { content: '\f1f9'; } /* '' */
.drzicon-brush:before { content: '\f1fc'; } /* '' */
.drzicon-facebook-official:before { content: '\f230'; } /* '' */
.drzicon-hashtag:before { content: '\f292'; } /* '' */
.drzicon-github-squared:before { content: '\f300'; } /* '' */
.drzicon-twitter-squared:before { content: '\f304'; } /* '' */
.drzicon-linkedin-squared:before { content: '\f30c'; } /* '' */