@demo-bg: #71aba0;

.picazzo-section {
  padding: 50px 0;

  .drzNav {
    background-color: @demo-bg;
  }

  .drzNav-logo {
    background-color: fade(@black, 10%);
  }

  .drzCard-stepTextContainer {
    background-color: @white;
  }

  .drzImage-general {
    width: 50%;

    @media @mobile {
      width: 100%;
    }
  }
}

.picazzo-page-demo {

  .drzImage-general {
    width: 50%;

    @media @mobile {
      width: 100%;
    }
  }
}

.picazzo-sideBar-right {
  .drzNav {
    background-color: @demo-bg;
  }

  .drzNav-logo {
    background-color: fade(@black, 10%);
  }
}

.picazz-navDemo {

  .drzNav-hamburger {
    display: inline-block;
  }
}

.picazzo-filterEx {

  .column {
    background-color: fade(@picazzo-base, 10%);
    border: 1px solid fade(@black, 10%);
    padding: 35px;
    text-align: center;
  }

  .search {
    width: 100%;
  }
}

.picazzo-exSort {
  border: 1px solid fade(@black, 10%);
  float: left;
  padding: 35px;
  width: 33.3333%;
}

.picazzo-blk {
  background-color: fade(@black, 30%);
}

.picazzo-blue {
  background-color: fade(@picazzo-blue, 30%);
}

.picazzo-green {
  background-color: fade(@picazzo-base, 30%);
}

.picazzo-myP-item {
  border: 1px solid fade(@black, 10%);
  float: left;
  padding: 35px;
  width: 33.3333%;
}
