html {
  height: 100%;
  margin: 0;
  padding: 0;
}

// lesshint-disable universalSelector
* {
  box-sizing: border-box;
}
// lesshint-enable universalSelector

body {
  .picazzo-body-font();
  background-color: @white;
  color: @font-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

// lesshint-disable idSelector
#picazzo {
  height: 100%;
}
