.flux-sideBar-link {
  border-bottom: 1px solid rgba($black, .05);
  color: rgba($black, .55);
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  transition-duration: .2s;
  width: 100%;
  z-index: 2;

  &:hover {
    background-color: rgba($black, .08) !important; // sass-lint:disable-line no-important
    color: rgba($black, .55);
    text-decoration: none;
  }
}

.flux-sideBar-dd {
  &::after {
    content: '\e801';
    font-family: 'rswebfonts';
    margin-left: 10px;
    opacity: .7;
    transition-duration: .2s;
  }
}

.flux-sideBar-ddOpen {
  &::after {
    display: inline-block;
    transform: rotate(90deg);
  }
}
