<li>
  <a
    href="#"
    :style="indent"
    class="flux-sideBar-link"
    :class="[
      isDropDown(link) ? 'flux-sideBar-dd' : '',
      isDropDown(link) && showChildren ? 'flux-sideBar-ddOpen' : ''
    ]"
    @click.prevent="goTo(link.route)">
    {{ link.text }}
  </a>
  <transition name="slideDown">
    <ul
      class="flux-sideBar-list"
      v-show="showChildren"
      v-if="isDropDown(link)">
      <sidebar-links
        v-for="(link, index) in link.children"
        :key="index"
        :depth="depth + 10"
        :link="link">
      </sidebar-links>
    </ul>
  </transition>
</li>
