<div class="picazzo-search-container">
  <input
    class="picazzo-search-input"
    type="text"
    v-model="searchInput"
    placeholder="Search..."/>
  <div class="picazzo-search-contentContainer">
    <transition name="standardFade">
      <div class="picazzo-search-contentBox" v-if="showResults">
        <div class="picazzo-search-header">
          Search Results <span v-if="filterPages.length > 0">({{ filterPages.length }} pages)</span>
        </div>
        <div v-if="filterPages.length < 1">0 results for "{{ searchInput }}"</div>
        <ul class="picazzo-search-ul">
          <li
            v-for="page in filterPages"
            :key="page.route"
            @click="goToPage(page.route)"
            class="picazzo-search-item">
             <span class="picazzo-search-title">{{ page.title }}</span>
             <span class="picazzo-search-text">{{ page.text }}</span>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</div>
