.flux-search-container {
  float: left;
  width: 400px;
}

.flux-search-input {
  @include placeholder(rgba($black, 0.25));
  background-color: rgba($white, 0.2);
  border: 0;
  color: rgba($black, 0.55);
  display: block;
  font-size: 13px;
  padding: 12px 20px;
  width: 100%;
  transition-duration: 0.3s;

  &:focus {
    background-color: rgba($white, 0.35);
    outline: 0;
  }
}

.flux-search-contentContainer {
  position: relative;
}

.flux-search-contentBox {
  background-color: $white;
  box-shadow: 3px 3px 9px 0px rgba($black, 0.12);
  padding: 10px 20px;
  position: absolute;
  width: 600px;
}

.flux-search-header {
  border-bottom: 1px solid rgba($black, 0.1);
  color: rgba($black, 0.7);
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.flux-search-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flux-search-item {
  overflow: hidden;
  padding: 12px 0;
  text-overflow: ellipsis;
  transition-duration: 0.2s;
  white-space: nowrap;

  &:hover {
    background-color: rgba($black, 0.05);
    cursor: pointer;
  }
}

.flux-search-title {
  color: darken($fluxBase, 18%);
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;

  &:after {
    content: ' - ';
  }
}

.flux-search-text {
  color: rgba($black, 0.75);
}
