.flux-search-input {
  @include placeholder(rgba($white, 0.45));
  background-color: rgba($white, 0.1);
  border: 0;
  border-bottom: 1px solid rgba($white, 0.2);
  color: rgba($white, 0.75);
  display: block;
  font-size: 13px;
  padding: 15px 20px;
  width: 100%;
  transition-duration: 0.3s;

  &:focus {
    background-color: transparent;
    outline: 0;
  }
}

.flux-search-contentContainer {
  position: relative;
}

.flux-search-contentBox {
  background-color: $white;
  box-shadow: 3px 3px 9px 0px rgba($black, 0.12);
  padding: 20px;
  position: absolute;
  right: -500px;
  top: -47px;
  width: 500px;
}
