.flux-sideBar-layout {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 300px auto;
  height: 100%;
}

.flux-sideBar {
  background-color: rgba($black, .75);
}

.flux-sideBar-list {
  display: block;
  list-style: none;
  padding: 20px 0 0;
  margin: 0;
}

.flux-sideBar-link {
  border-bottom: 1px solid rgba($white, .05);
  color: $white;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  transition-duration: .2s;
  width: 100%;
  
  &:hover {
    background-color: rgba($white, .05);
  }
}

.flux-sideBar-right {
  padding: 20px 30px;
}