.flux-sideBar-container {
  height: 100%;
}

.flux-topBar {
  background-color: $fluxBase;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.flux-topBar-logo {
  background-color: darken($fluxBase, 5%);
  border-right: 1px solid rgba($black, 0.1);
  color: $white;
  float: left;
  font-weight: bold;
  height: 100%;
  padding: 8px 20px;
  width: 235px;
}

.flux-sideBar-layout {
  height: 100%;
}

.flux-sideBar {
  background-color: #f2f2f2;
  border-right: 1px solid rgba($black, 0.1);
  font-size: 14px;
  height: 100%;
  position: fixed;
  top: 40px;
  width: 235px;
  z-index: 5;
}

.flux-sideBar-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.flux-sideBar-link {
  border-bottom: 1px solid rgba($black, 0.05);
  color: rgba($black, 0.55);
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 100%;

  &:hover {
    background-color: rgba($black, 0.08);
  }
}

.flux-sideBar-right {
  height: 100%;
  padding: 20px 20px 20px 255px;
  position: relative;
  top: 40px;
}
