.flux-sideBar-container {
  height: 100%;
}

.flux-topBar {
  background-color: $flux-base;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.flux-topBar-logo {
  background-color: darken($flux-base, 5%);
  border-right: 1px solid rgba($black, .1);
  color: $white;
  float: left;
  font-weight: bold;
  height: 100%;
  padding: 8px 20px;
  width: 235px;
}

.flux-sideBar-layout {
  height: 100%;
}

.flux-sideBar {
  background-color: #f2f2f2;
  border-right: 1px solid rgba($black, .1);
  font-size: 14px;
  height: 100%;
  position: fixed;
  top: 40px;
  width: 235px;
  z-index: 5;
}

.flux-sideBar-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flux-sideBar-right {
  @include flux-body-font;
  height: 100%;
  padding: 20px 20px 20px 255px;
  position: relative;
  top: 40px;
}
