<div class="flux-sideBar-layout">
  <div class="flux-sideBar">
    <ul class="flux-sideBar-list">
      <li v-for="link in links">
        <!-- @TODO setup recursion -->
        <a
          href="#"
          class="flux-sideBar-link"
          @click.prevent="goTo(link.route)">
          {{ link.text }}
        </a>
      </li>
    </ul>
    <!-- <ul v-if="pages.length > 0">
      <li v-for="(page, index) in pages">
        {{ page.name }}
      </li>
    </ul> -->
  </div>
  <div class="flux-sideBar-right">
    <router-view></router-view>
  </div>
</div>
