<div class="picazzo-sideBar-container">
  <div class="picazzo-topBar">
    <div class="picazzo-topBar-logo">
      <a
        href="#"
        @click.prevent="mobileOpen = !mobileOpen"
        :class="{ 'picazzo-openHamburger': mobileOpen }"
        class="picazzo-hamburger"></a>
      <router-link
        class="picazzo-topBar-logoImg"
        tag="img"
        to="/"
        src="/static/picazzo-logo.svg"
        alt="Picazzo Logo">
      </router-link>
    </div>
    <search-box></search-box>
    <a
      target="_blank"
      href="https://github.com/drzzle-app/picazzo"
      class="picazzo-gitLink"></a>
  </div>
  <div class="picazzo-sideBar-layout">
    <div class="picazzo-sideBar" :class="{ 'picazzo-sideBar-mobileOpen': mobileOpen }">
      <ul class="picazzo-sideBar-list">
        <sidebar-links
          v-for="(link, index) in links"
          :key="index"
          @link-clicked="linkClicked"
          :link="link"
          :depth="20">
       </sidebar-links>
      </ul>
    </div>
    <div class="picazzo-sideBar-right">
      <router-view></router-view>
    </div>
  </div>
</div>
