<div class="flux-sideBar-container">
  <div class="flux-topBar">
    <div class="flux-topBar-logo">
      FLUX
    </div>
    <search-modal></search-modal>
  </div>
  <div class="flux-sideBar-layout">
    <div class="flux-sideBar">
      <ul class="flux-sideBar-list">
        <sidebar-links
          v-for="link in links"
         :link="link"
         :depth="20">
       </sidebar-links>
      </ul>
    </div>
    <div class="flux-sideBar-right">
      <router-view></router-view>
    </div>
  </div>
</div>
