.drzBlog-post {
  .drzClearFix;
}

.drzBlog-post-header {
  font-size: 20pt;
}

.drzBlog-post-data {
  color: fade(@black, 50%);
  font-size: 11pt;
  margin-bottom: 10px;
}

.drzBlog-post-text {
  .drzClearFix;
}
